In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from config.py import g_key

In [2]:
states_df = pd.read_csv("world_country_and_usa_states_latitude_and_longitude_values.csv")
states_df

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California
...,...,...,...,...,...,...,...,...
240,YE,15.552727,48.516388,Yemen,NaN,NaN,NaN,NaN
241,YT,-12.827500,45.166244,Mayotte,NaN,NaN,NaN,NaN
242,ZA,-30.559482,22.937506,South Africa,NaN,NaN,NaN,NaN
243,ZM,-13.133897,27.849332,Zambia,NaN,NaN,NaN,NaN
244,ZW,-19.015438,29.154857,Zimbabwe,NaN,NaN,NaN,NaN

In [3]:
states_coordinates = states_df[["usa_state_code", "usa_state_longitude","usa_state_latitude", "usa_state"]].dropna()
states_coordinates

,usa_state_code,usa_state_longitude,usa_state_latitude,usa_state
0,AK,-154.493062,63.588753,Alaska
1,AL,-86.902298,32.318231,Alabama
2,AR,-91.831833,35.201050,Arkansas
3,AZ,-111.093731,34.048928,Arizona
4,CA,-119.417932,36.778261,California
5,CO,-105.782067,39.550051,Colorado
6,CT,-73.087749,41.603221,Connecticut
7,DC,-77.033418,38.905985,District of Columbia
8,DE,-75.527670,38.910832,Delaware
9,FL,-81.515754,27.664827,Florida
10,GA,-82.907123,32.157435,Georgia
11,HI,-155.665857,19.898682,Hawaii
12,IA,-93.097702,41.878003,Iowa
13,ID,-114.742041,44.068202,Idaho
14,IL,-89.398528,40.633125,Illinois
15,IN,-85.602364,40.551217,Indiana
16,KS,-98.484246,39.011902,Kansas
17,KY,-84.270018,37.839333,Kentucky
18,LA,-92.145024,31.244823,Louisiana
19,MA,-71.382437,42.407211,Massachusetts
20,MD,-76.641271,39.045755,Maryland
21,ME,-69.445469,45.253783,Maine
22,MI,-85.602364,44.314844,Michigan
23,MN,-94.685900,46.729553,Minnesota
24,MO,-91.831833,37.964253,Missouri
25,MS,-89.398528,32.354668,Mississippi
26,MT,-110.362566,46.879682,Montana
27,NC,-79.019300,35.759573,North Carolina
28,ND,-101.002012,47.551493,North Dakota
29,NE,-99.901813,41.492537,Nebraska
30,NH,-71.572395,43.193852,New Hampshire
31,NJ,-74.405661,40.058324,New Jersey
32,NM,-105.032363,34.972730,New Mexico
33,NV,-116.419389,38.802610,Nevada
34,NY,-74.217933,43.299428,New York
35,OH,-82.907123,40.417287,Ohio
36,OK,-97.092877,35.007752,Oklahoma
37,OR,-120.554201,43.804133,Oregon
38,PA,-77.194525,41.203322,Pennsylvania
39,PR,-66.590149,18.220833,Puerto Rico
40,RI,-71.477429,41.580095,Rhode Island
41,SC,-81.163725,33.836081,South Carolina
42,SD,-99.901813,43.969515,South Dakota
43,TN,-86.580447,35.517491,Tennessee
44,TX,-99.901813,31.968599,Texas
45,UT,-111.093731,39.320980,Utah
46,VA,-78.656894,37.431573,Virginia
47,VT,-72.577841,44.558803,Vermont
48,WA,-120.740139,47.751074,Washington
49,WI,-88.787868,43.784440,Wisconsin
50,WV,-80.454903,38.597626,West Virginia
51,WY,-107.290284,43.075968,Wyoming

In [4]:
death_rates = pd.read_csv("csv-1.csv")
recent_deaths = death_rates.loc[(death_rates["Cause Name"]=="Cancer")&(death_rates["Year"]>1999)]

In [32]:
death_df = recent_deaths.groupby(recent_deaths["State"]).mean(["Deaths"])
death_rate_df = death_df[["Deaths"]]

In [33]:
temperature_change = pd.read_csv("model_state.csv")
temperature_change

,fips,Fall,Spring,Summer,Winter,max_warming_season,Annual,STUSAB,STATE_NAME,STATENS
0,1,-0.195668,-0.105862,-0.325009,0.458526,Winter,-0.035048,AL,Alabama,1779775
1,4,1.203951,1.384480,1.274455,1.388388,Winter,1.319880,AZ,Arizona,1779777
2,5,-0.042540,0.266399,0.058596,0.532247,Winter,0.214074,AR,Arkansas,68085
3,6,1.570921,1.449242,1.478335,1.412430,Fall,1.480561,CA,California,1779778
4,8,1.055309,1.436910,1.367845,1.838758,Winter,1.438589,CO,Colorado,1779779
5,9,1.453093,1.543407,1.580628,2.633975,Winter,1.801492,CT,Connecticut,1779780
6,10,1.378949,1.537848,1.522878,2.201002,Winter,1.661683,DE,Delaware,1779781
7,12,1.076586,0.860797,0.914455,1.300233,Winter,1.034878,FL,Florida,294478
8,13,0.251217,0.174462,-0.016056,1.109362,Winter,0.384049,GA,Georgia,1705317
9,16,0.686631,1.004868,1.072720,1.409905,Winter,1.046917,ID,Idaho,1779783
10,17,0.557305,1.153298,0.217481,1.308741,Winter,0.814420,IL,Illinois,1779784
11,18,0.500966,1.044840,0.018074,1.280564,Winter,0.712610,IN,Indiana,448508
12,19,0.363979,0.773898,0.061714,1.411697,Winter,0.647284,IA,Iowa,1779785
13,20,0.355499,0.998039,0.491852,1.553961,Winter,0.859499,KS,Kansas,481813
14,21,0.028289,0.542363,-0.195753,0.876840,Winter,0.320092,KY,Kentucky,1779786
15,22,0.222716,0.147429,0.198603,0.353877,Winter,0.244342,LA,Louisiana,1629543
16,23,1.463238,1.308374,1.427570,2.882751,Winter,1.744621,ME,Maine,1779787
17,24,1.093841,1.238547,1.180303,1.878321,Winter,1.353259,MD,Maryland,1714934
18,25,1.442300,1.350744,1.594610,2.435160,Winter,1.700653,MA,Massachusetts,606926
19,26,1.149714,1.692995,1.050526,2.463788,Winter,1.576899,MI,Michigan,1779789
20,27,1.148642,1.444557,0.907259,2.716586,Winter,1.555189,MN,Minnesota,662849
21,28,-0.125728,-0.010723,-0.206660,0.339203,Winter,0.011926,MS,Mississippi,1779790
22,29,0.014349,0.726519,0.014095,1.200734,Winter,0.490995,MO,Missouri,1779791
23,30,0.881862,1.465058,1.064183,2.260924,Winter,1.421125,MT,Montana,767982
24,31,0.541108,1.069954,0.508981,1.810286,Winter,0.989601,NE,Nebraska,1779792
25,32,1.134561,1.205531,1.353016,1.461305,Winter,1.298956,NV,Nevada,1779793
26,33,1.331429,1.333616,1.296790,2.579852,Winter,1.622430,NH,New Hampshire,1779794
27,34,1.655732,1.759266,1.738723,2.748938,Winter,1.977277,NJ,New Jersey,1779795
28,35,0.985947,1.131640,1.108571,1.370483,Winter,1.159330,NM,New Mexico,897535
29,36,0.972586,1.079309,0.704183,2.096085,Winter,1.204205,NY,New York,1779796
30,37,0.391407,0.517954,0.392268,1.162257,Winter,0.622180,NC,North Carolina,1027616
31,38,1.115584,1.331175,1.000409,3.145933,Winter,1.654430,ND,North Dakota,1779797
32,39,0.629771,1.041961,0.253136,1.381023,Winter,0.825316,OH,Ohio,1085497
33,40,-0.081256,0.421037,0.079944,0.944071,Winter,0.358402,OK,Oklahoma,1102857
34,41,1.301573,1.240705,1.613220,1.819386,Winter,1.500649,OR,Oregon,1155107
35,42,0.744113,0.852303,0.533996,1.728381,Winter,0.967986,PA,Pennsylvania,1779798
36,44,1.648734,1.748106,2.114864,2.680028,Winter,2.038868,RI,Rhode Island,1219835
37,45,0.314497,0.438138,0.290624,1.109432,Winter,0.545474,SC,South Carolina,1779799
38,46,0.764642,1.054420,0.826695,2.315146,Winter,1.252078,SD,South Dakota,1785534
39,47,0.019880,0.254504,-0.017425,0.703760,Winter,0.242988,TN,Tennessee,1325873
40,48,0.572642,0.884670,0.357220,1.141263,Winter,0.752370,TX,Texas,1779801
41,49,1.357489,1.380219,1.702758,1.819443,Winter,1.580229,UT,Utah,1455989
42,50,1.288437,1.327393,1.045333,2.594892,Winter,1.546557,VT,Vermont,1779802
43,51,0.520649,0.724317,0.493474,1.344071,Winter,0.780046,VA,Virginia,1779803
44,53,0.766603,0.724388,1.153326,1.558631,Winter,1.042772,WA,Washington,1779804
45,54,0.347795,0.544113,0.104578,0.980543,Winter,0.498116,WV,West Virginia,1779805
46,55,0.771965,1.094490,0.479661,2.317940,Winter,1.157654,WI,Wisconsin,1779806
47,56,1.064226,1.617750,1.256056,2.034272,Winter,1.508755,WY,Wyoming,1779807

In [34]:
highest_temperature_change =temperature_change[["Annual", "STUSAB"]].sort_values(by = "Annual", ascending = False).head()

In [35]:
highest_climate = highest_temperature_change.rename(columns = {"STUSAB" : "usa_state_code"})

In [36]:
climate_marker_data = highest_climate.merge(states_coordinates , on="usa_state_code", how = "outer").dropna()

In [37]:
states_coordinates_death = states_coordinates.rename( columns = {"usa_state" : "State"})
states_coordinates_death

,usa_state_code,usa_state_longitude,usa_state_latitude,State
0,AK,-154.493062,63.588753,Alaska
1,AL,-86.902298,32.318231,Alabama
2,AR,-91.831833,35.201050,Arkansas
3,AZ,-111.093731,34.048928,Arizona
4,CA,-119.417932,36.778261,California
5,CO,-105.782067,39.550051,Colorado
6,CT,-73.087749,41.603221,Connecticut
7,DC,-77.033418,38.905985,District of Columbia
8,DE,-75.527670,38.910832,Delaware
9,FL,-81.515754,27.664827,Florida
10,GA,-82.907123,32.157435,Georgia
11,HI,-155.665857,19.898682,Hawaii
12,IA,-93.097702,41.878003,Iowa
13,ID,-114.742041,44.068202,Idaho
14,IL,-89.398528,40.633125,Illinois
15,IN,-85.602364,40.551217,Indiana
16,KS,-98.484246,39.011902,Kansas
17,KY,-84.270018,37.839333,Kentucky
18,LA,-92.145024,31.244823,Louisiana
19,MA,-71.382437,42.407211,Massachusetts
20,MD,-76.641271,39.045755,Maryland
21,ME,-69.445469,45.253783,Maine
22,MI,-85.602364,44.314844,Michigan
23,MN,-94.685900,46.729553,Minnesota
24,MO,-91.831833,37.964253,Missouri
25,MS,-89.398528,32.354668,Mississippi
26,MT,-110.362566,46.879682,Montana
27,NC,-79.019300,35.759573,North Carolina
28,ND,-101.002012,47.551493,North Dakota
29,NE,-99.901813,41.492537,Nebraska
30,NH,-71.572395,43.193852,New Hampshire
31,NJ,-74.405661,40.058324,New Jersey
32,NM,-105.032363,34.972730,New Mexico
33,NV,-116.419389,38.802610,Nevada
34,NY,-74.217933,43.299428,New York
35,OH,-82.907123,40.417287,Ohio
36,OK,-97.092877,35.007752,Oklahoma
37,OR,-120.554201,43.804133,Oregon
38,PA,-77.194525,41.203322,Pennsylvania
39,PR,-66.590149,18.220833,Puerto Rico
40,RI,-71.477429,41.580095,Rhode Island
41,SC,-81.163725,33.836081,South Carolina
42,SD,-99.901813,43.969515,South Dakota
43,TN,-86.580447,35.517491,Tennessee
44,TX,-99.901813,31.968599,Texas
45,UT,-111.093731,39.320980,Utah
46,VA,-78.656894,37.431573,Virginia
47,VT,-72.577841,44.558803,Vermont
48,WA,-120.740139,47.751074,Washington
49,WI,-88.787868,43.784440,Wisconsin
50,WV,-80.454903,38.597626,West Virginia
51,WY,-107.290284,43.075968,Wyoming

In [38]:
death_heatmap_data = death_rate_df.merge(states_coordinates_death, on = "State", how = "outer").dropna()

In [39]:
climate_marker_data

,Annual,usa_state_code,usa_state_longitude,usa_state_latitude,usa_state
0,2.038868,RI,-71.477429,41.580095,Rhode Island
1,1.977277,NJ,-74.405661,40.058324,New Jersey
2,1.801492,CT,-73.087749,41.603221,Connecticut
3,1.744621,ME,-69.445469,45.253783,Maine
4,1.700653,MA,-71.382437,42.407211,Massachusetts

In [46]:
death =death_heatmap_data.sort_values(by = "Deaths", ascending = False).head()
death

,State,Deaths,usa_state_code,usa_state_longitude,usa_state_latitude
4,California,55861.882353,CA,-119.417932,36.778261
9,Florida,41122.000000,FL,-81.515754,27.664827
43,Texas,36067.588235,TX,-99.901813,31.968599
32,New York,35790.176471,NY,-74.217933,43.299428
38,Pennsylvania,29181.647059,PA,-77.194525,41.203322

In [43]:
locations =death_heatmap_data[["usa_state_latitude", "usa_state_longitude"]]
deaths = death_heatmap_data["Deaths"]
fig = gmaps.figure( center= (46, -5), zoom_level= 2 )
heat_layer = gmaps.heatmap_layer(locations, weights= deaths, 
                                 dissipating=True, max_intensity=100,
                                 point_radius=3, opacity = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
location = climate_marker_data[["usa_state_latitude", "usa_state_longitude"]]
markers= gmaps.marker_layer(location)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))